﻿@using wbEcsc.App_Codes.BLL.Account;

@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<script src="~/Scripts/AccJs/AllSearch.js"></script>





<div class="wrapper wrapper-content animated fadeInRight ">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Search By</label>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label" >Ledger Voucher From</label><span id="spn2" style="color: red">&nbsp;*</span>
                                    <input type="text" id="txtFromDate" name="txtFromDate" class="form-control txt_2" placeholder="DD/MM/YYYY" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" >To</label><span id="spn3" style="color: red">&nbsp;*</span>
                                    <input type="text" id="txtToDate" name="txtToDate" class="form-control" placeholder="DD/MM/YYYY">
                                </div>

                                <div class="col-md-2">
                                    <label class="control-label">Amount From</label><span id="spn2" style="color: red">&nbsp;</span>
                                    <input type="text" id="txtAmountFrom" name="txtAmountFrom" class="form-control allownumericwithdecimal"  />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label">To</label><span id="spn3" style="color: red">&nbsp;</span>
                                    <input type="text" id="txtAmountTo" name="txtAmountTo" class="form-control allownumericwithdecimal" >
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Ledger</label><span id="spn3" style="color: red">&nbsp;</span>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="radioGL" value="GL" name="radioInline" checked>
                                        <label id="gl" for="radioGL"> GL </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="radioSL" value="SL" name="radioInline">
                                        <label id="sl" for="radioSL"> SL </label>
                                    </div>
                                    <div class="radio radio-danger radio-inline">
                                        <input type="radio" id="radioUV" value="I" name="radioInlinee">
                                        <label id="uv" for="radioUV"> Include UnPaid Voucher </label>
                                    </div>
                                    <input type="text" id="txtLedger" name="txtLedger" class="form-control">
                                    <input type="hidden" id="hdnLedger" name="hdnLedger" class="form-control">
                                </div>
                                <div class="col-md-2 m-t">
                                    <label class="control-label">Dr. / Cr.</label><span id="spn3" style="color: red">&nbsp;</span>
                                    <select id="ddlDrCr" class="form-control">
                                        <option value="">All</option>
                                        <option value="D">DR</option>
                                        <option value="C">CR</option>
                                    </select>
                                </div>
                                <div class="col-md-2 m-t">
                                    <label class="control-label">Voucher Type</label><span id="spn3" style="color: red">&nbsp;</span>
                                    <select id="ddlVchType" class="form-control">
                                        <option value="">All</option>
                                        @foreach (var vchtype in (new VoucherMaster_BLL().Get_Acc_VchType()))
                                        {
                                            <option value="@vchtype.VoucherTypeID">@vchtype.VoucherDescription</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2 m-t">
                                    <label class="control-label">Adj Type</label><span id="spn3" style="color: red">&nbsp;</span>
                                    <select id="ddlAdjType" class="form-control">
                                        <option value="">All</option>
                                        <option selected value="O">ON A/C</option>
                                        <option value="N">NEW REFERENCE</option>
                                        <option value="A">AGAINST REFERENCE</option>
                                    </select>
                                </div>
                                <div class="col-md-2 m-t">
                                    <label class="control-label">Cheque No.</label><span id="spn3" style="color: red">&nbsp;</span>
                                    <input type="text" id="txtChequeNo" name="txtChequeNo" class="form-control">
                                </div>
                                <div class="col-md-3 m-t">
                                    <label class="control-label">Narration</label><span id="spn3" style="color: red">&nbsp;</span>
                                    <input type="text" id="txtNarration" name="txtNarration" class="form-control">
                                </div>
                                <div class="col-md-1 m-t" style="padding-top:22px">
                                    <button type="button" id="btnSearch" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> </button>
                                </div>
                                <div class="col-md-12 m-t" style="border-top: 1px solid #e7eaec">
                                </div>
                                <div class="col-md-12 m-t" >
                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" width="100%">
                                        <thead>
                                            <tr>
                                                <th>VoucherNumber</th>
                                                <th>Vch Date</th>
                                                <th>Narration</th>
                                                <th>Vch Type</th>
                                                <th>Vch No</th>
                                                <th>Debit</th>
                                                <th>Credit</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        width: 350px;
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }

    .isAccountHead {
        display: none;
    }
</style>





















