﻿
@{
    ViewBag.Title = "Balance Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AccJs/BalanceSheet.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div style="width:100%;">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group form-inline">
                                                <div class="col-md-12  ">
                                                    <label class="control-label HeaderTitle" style="font-style: italic" id="lblHeaderTitle">Balance Sheet From</label>
                                                    <input type="text" id="txtFromDate" name="txtFromDate" class="form-control" style="width:18%; color:black" placeholder="DD/MM/YYYY" />

                                                    <label class="control-label" style="font-style: italic">To</label>
                                                    <input type="text" id="txtToDate" name="txtFromDate" class="form-control" style="width:18%; color:black" placeholder="DD/MM/YYYY" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" id="btnBack" class="btn btn-warning" style="float:right;"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="padding-right:4px"></span>Back</button>
                                        <button type="button" id="btnPrint" class="btn btn-success hidden-print" style="float:right;" onclick="Excel()"><span class="glyphicon glyphicon-print" aria-hidden="true" style="padding-right:4px"></span> Excel</button>
                                        <button type="button" id="btnShow" class="btn btn-primary" style="float:right"><span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="padding-right:4px"></span>Show</button>
                                    </div>
                                </div>
                            </div>
                            @*<label class="control-label HeaderTitle" style="font-style: italic" id="lblHeaderTitle">Balance Sheet From</label>
                            <input type="text" id="txtFromDate" name="txtFromDate" style="height:22px; width:90px; color:black" placeholder="DD/MM/YYYY" />
                            <label class="control-label" style="font-style: italic">To</label>
                            <input type="text" id="txtToDate" name="txtFromDate" style="height:22px; width:90px; color:black" placeholder="DD/MM/YYYY" />

                            
                            <button type="button" id="btnBack" class="btn btn-warning" style="float:right"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="padding-right:4px"></span>Back</button>
                            <button type="button" id="btnPrint" class="btn btn-success hidden-print" style="float:right"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                            <button type="button" id="btnShow" class="btn btn-primary" style="float:right"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show</button>*@
                        </div>
                    </div>

                    <input type="hidden" id="hdnDAID" />
                    <div class="panel-body">
                        <div class="mywrapper">

                            <div class="row main_1">
                                <div class="form-group">
                                    <div class="col-md-6 scrollbar" style="height:300px; font-family:Verdana; font-size:11px;">
                                        <table id="tbl_1" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                            <thead></thead>
                                            <tbody></tbody>
                                            <tfoot></tfoot>
                                        </table>
                                    </div>
                                    <div class="col-md-6 scrollbar" style="height:300px; font-family:Verdana; font-size:11px;">
                                        <table id="tbl_2" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                            <thead></thead>
                                            <tbody></tbody>
                                            <tfoot></tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div style="width:100%;" class="main_1">
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:45%; text-align:right; font-weight:bold; font-family:Verdana; font-size:15px"><span>Total : &nbsp;</span><label id="lblExpTotal" class="control-label"></label></td>
                                        <td style="width:50%; text-align:right; font-weight:bold; font-family:Verdana; font-size:15px; padding-right:15px"><span>Total : &nbsp;</span><label id="lblIncomeTotal" class="control-label"></label></td>
                                    </tr>
                                </table>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6" style="height:auto; width:100%">
                                        <table id="tbl_5" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                            <thead></thead>
                                            <tbody></tbody>
                                            <tfoot></tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .hover {
        background-color: #D4EFDF;
    }
</style>

<style type="text/css">
    .scrollbar {
        float: left;
        height: 300px;
        background: #F5F5F5;
        overflow-y: scroll;
        margin-bottom: 25px;
    }

        .scrollbar::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        .scrollbar::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }

        .scrollbar::-webkit-scrollbar-thumb {
            background-color: #bdbdbd;
            /*border: 2px solid #555555;*/
        }
</style>
