﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/AccJs/BankStatement.js"></script>
<style>
    /*td.Bank {
        display: none;
    }*/
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Bank Statement</label>
                    </div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class=""><a data-toggle="tab" href="#tab-1"> Generate Pay Advice</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2" onclick="GeneratedAdvice();"> Generated Advice</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <form id="frmCC">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="control-label">From Date</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                <input type="text" id="txtFromDate" name="txtFromDate" class="form-control txt_2" value="" placeholder="DD/MM/YYYY" autocomplete="off" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label" >To Date</label><span id="spn3" style="color: red">&nbsp;*</span>
                                                <input type="text" id="txtToDate" name="txtToDate" class="form-control" placeholder="DD/MM/YYYY" value="" autocomplete="off" />
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Bank Name<span style="color:red">&nbsp;*</span></label>
                                                    <input type="text" class="form-control" id="txtBankName" name="txtBankName" placeholder="Search Bank..." />
                                                    <input type="hidden" class="form-control" id="hdnBankName" name="hdnBankName" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="dtFrom">Cheque No.<span style="color:red">&nbsp;*</span></label>
                                                    <input type="text" class="form-control allownumericwithoutdecimal" placeholder="Cheque No." id="txtChequeNo" name="txtChequeNo" />
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="padding-top:22px">
                                                <button type="button" id="btnShow" class="btn btn-primary" style="float:right" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="padding-right:4px"></span>Show</button>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="dtFrom">Remarks<span style="color:red">&nbsp;*</span></label>
                                                    <textarea type="text" class="form-control" placeholder="Remarks..." id="txtRemarks" name="txtRemarks"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="display:none">VoucherNumber</th>
                                                                <th>Voucher No.</th>
                                                                <th>Voucher Date</th>
                                                                <th style="display:none">AccountCode</th>
                                                                <th>Vendor Name</th>
                                                                <th>Amount</th>
                                                                <th>IFSC</th>
                                                                <th>Bank Name</th>
                                                                <th style="display:none">VoucherDetailID</th>
                                                                @*<th>InstType</th>
                <th>InstrumentNumber</th>*@
                                                                <th>Branch Name</th>
                                                                <th>Account No</th>
                                                                <th>Select</th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th style="text-align:right" class=" text-center" colspan="5">Total:</th>
                                                                <th class="vchAmount text-center"></th>
                                                                <th style="text-align:left" class=" text-center"  colspan="6"></th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                                <div class="col-md-12" style="text-align:right">
                                                    <button type="button" id="btnSave" class="btn btn-primary" onclick="Save()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save as Draft</button>
                                                    @*<button type="button" id="btnPrint" class="btn btn-success hidden-print" onclick="Search()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>*@
                                                    @*<button type="button" id="btnPreview" class="btn btn-success hidden-print" onclick="Preview()"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Preview</button>*@
                                                    <button type="button" id="btnRefresh" class="btn btn-danger" onclick="Refresh()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div id="myDiv">
                                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tbl_Advice" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>StatementID</th>
                                                                <th>MemoNo</th>
                                                                <th>Memo Date</th>
                                                                <th>Instrument No.</th>
                                                                <th>Bank Name</th>
                                                                <th>Status</th>
                                                                <th style="display:none">Bank</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                      
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog" role="dialog" style="height:100%; " data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Selected Vendors are ...</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table id="tbl" class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; width:15%" class="isSubItem">Vendor Name</th>
                                        <th style="text-align:center; width:6%" class="isSubItemType">Date</th>
                                        <th style="text-align:center; width:8%">Amount</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialog-print" role="dialog" style="height:100%; " data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Print</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="dtFrom">Search by Memo No.<span style="color:red">&nbsp;*</span></label>
                            <input type="text" class="form-control" placeholder="Memo No." id="txtSearchMemoNo" name="txtSearchMemoNo" />
                            <input type="hidden" class="form-control" placeholder="Memo No." id="hdnSearchMemoNo" name="hdnSearchMemoNo" />
                        </div>
                        <div class="col-md-5" style="text-align:left; padding-top:22px">
                            <button type="button" id="btnSearchPrint" class="btn btn-success hidden-print" onclick="SearchPrint()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                            <button type="button" id="btnSearchCancel" class="btn btn-danger" onclick="CloseMemoNo()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close Memo No.</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 350px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }
</style>