﻿
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/AccJs/Inventory.js?v4"></script>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Inventory Details</label>
                    </div>
                    <div class="panel-body">
                        <form id="frmInv">
                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-4">
                                        <label for="dtFrom">Stock Date:<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control input-sm" placeholder="dd/mm/yyyy" id="dtStockDate" name="dtStockDate" />
                                    </div>

                                </div>
                            </div>

                            <div class="row" style="padding-top:10px;">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <button type="button" id="btnsearch" class="btn btn-primary" data-attrval="S"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
                                    </div>

                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Inventory Description">Inventory Description:<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" id="txtAccountDesc" name="txtAccountDesc" class="form-control" />
                                        <input type="hidden" class="form-control" id="hdnAuto" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Amount">Amount:<span style="color:red">*</span></label>
                                        <input type="text" id="txtAmount" name="txtAmount" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-4" style="margin-top:25px;">
                                    <div class="form-group">
                                        <button type="button" id="btnAdd" data-attrval="A" value="Add" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add</button>
                                        <input type="hidden" class="form-control" id="hdnEffectAdd" />
                                    </div>
                                </div>
                            </div>






                            <div class="panel panel-default">
                                <div class="panel-heading">Inventory Details</div>
                                <div class="panel-body">
                                    <div class="col-md-12" style="max-height:300px;overflow-y:scroll;">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Inventory Description</th>
                                                    <th>Amount</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodyInvDetails"></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>Total </td>
                                                    <td> </td>
                                                    <td><span id="totalval">XXXXXXXXXXXXX</span></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div>

                                </div>
                            </div>

                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

