﻿@using wbEcsc.App_Codes.BLL.Account;
@model wbEcsc.Models.Account.Item_MD

<div class="modal-header" style="background-color:#f3f3f3 !important;">
    <button type="button" class="sidebar-close close" style="color:black !important; font-weight:600 !important">&times;</button>
    <h4 style="color:black; font-family:Verdana">
        Product / Service Information
        <span>
            (<label id="lblServiceType" class="control-label" style="font-style:italic"></label>)
            <input type="hidden" id="hdnServiceType" name="hdnServiceType" class="form-control">
        </span>
    </h4>
</div>
<form id="frmElement" data-parsley-validate="">
    <div class="scrollbar" style="padding-top:10px; margin-left:10px; padding-right:20px; margin-bottom:30px; width:100%; height:650px;">
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label id="2" class="control-label">Name &nbsp;</label><span id="spn1" style="color:red">*</span>
                    <input type="text" id="txtItemName" name="txtItemName" class="form-control" value="@Model.AccountDescription">
                    <input type="hidden" id="hdnItemID" name="hdnItemID" class="form-control">
                </div>
                <div class="col-md-12">
                    <label id="2" class="control-label">Parent of Item &nbsp;</label><span id="spn1" style="color:red"></span>
                    <input type="text" id="txtItemParent" class="form-control">
                    <input type="hidden" id="hdnItemParent" class="form-control">
                </div>
            </div>
        </div>
        <div style="width:100%">

            <div class="entire-thing">
                <div class="ad-left" style="height:120px; width:70%; background-color:#f3f3f3; color:black">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="file" class="form-control" accept="image/*" placeholder="File Upload..." multiple id="flPic" onchange="ShowPreview(this)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12" style="text-align:left; padding-top:10px">
                                <label id="2" class="control-label">SKU &nbsp;</label><span id="spn1" style="color:red"></span>
                                <input type="text" id="txtSKU" name="txtSKU" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ad-right" style="height:120px; width:20%; float:left; background-color:#f3f3f3; padding-top:0px; ">
                    <img id="canPhoto" style="width:100%;height: 120px; " src="" />
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12 m-t">
                    <label id="2" class="control-label">HSN Code &nbsp;</label><span id="spn1" style="color:red"></span>
                    <input type="text" id="txtHSN" name="txtHSN" class="form-control" placeholder="Enter a valid HSN code">
                </div>
                <div class="col-md-12 m-t">
                    <label id="2" class="control-label">Unit &nbsp;</label><span id="spn1" style="color:red"></span>
                    <select id="ddlItemUnit" class="form-control">
                        <option value="" selected>Choose Unit</option>
                        @foreach (var lstUnit in new Item_BLL().ItemUnit())
                        {
                            <option value="@lstUnit.UnitId">@lstUnit.UnitDesc</option>
                        }
                    </select>
                </div>

                @*<div class="col-md-12 m-t">
                        <label id="2" class="control-label">Category &nbsp;</label><span id="spn1" style="color:red"></span>

                    </div>*@


                <div class="col-md-12">
                    <table id="tbl" class="Grid tblInst">
                        <thead><tr><th>Category</th><th></th></tr></thead>
                        <tbody>
                            <tr class="test_0">
                                <td>
                                    <select id="ddlItemCat" class="form-control">
                                        <option value="" selected>Choose a Category</option>
                                        @foreach (var lstCat in new Item_BLL().ItemCategory())
                                        {
                                            <option value="@lstCat.ItemCatId">@lstCat.CatDesc</option>
                                        }
                                    </select>
                                </td>
                                <td style="text-align:center; width:10%">
                                    <input type="button" class="btn btn-success" value="Add" id="btnCategoryAdd" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" style="border-bottom:1px solid #ddd; padding-top:15px"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group" style="margin-left:100px">
                <div class="col-md-6 m-t">
                    <label id="2" class="control-label">Initial quantity on hand &nbsp;</label><span id="spn1" style="color:red">*</span>
                    <input type="text" id="txtQty" name="txtQty" class="form-control allownumericwithdecimal">
                </div>
                <div class="col-md-6 m-t">
                    <label id="2" class="control-label">Amount &nbsp;</label><span id="spn1" style="color:red">*</span>
                    <input type="text" id="txtAmount" name="txtAmount" class="form-control allownumericwithdecimal">
                </div>
                <div class="col-md-12 m-t">
                    <label id="2" class="control-label">As of date &nbsp;</label><span id="spn1" style="color:red">*</span>
                    <input type="text" id="txtAsofDate" name="txtAofDate" class="form-control" placeholder="DD/MM/YYYY">
                </div>
                <div class="col-md-12 m-t">
                    <label id="2" class="control-label">Low stock alert &nbsp;</label><span id="spn1" style="color:red"></span>
                    <input type="text" id="txtLowStock" name="txtLowStock" class="form-control allownumericwithdecimal">
                </div>
            </div>
            <div class="col-md-12" style="border-bottom:1px solid #ddd; padding-top:15px"></div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12 m-t">
                    <label id="2" class="control-label">Tax Type &nbsp;</label><span id="spn1" style="color:red"></span>
                    <select id="ddlTaxType" class="form-control">
                        <option value="" selected>Select tax</option>
                        @foreach (var lstType in new Item_BLL().TaxType())
                        {
                            <option value="@lstType.TaxTypeId">@lstType.TaxTypeDesc</option>
                        }
                    </select>
                </div>
                <div class="col-md-12 m-t">
                    <label id="2" class="control-label">Purchase AccountCode &nbsp;</label><span id="spn1" style="color:red"></span>
                    <input type="text" id="txtItemPurchase" class="form-control">
                    <input type="hidden" id="hdnItemPurchase" class="form-control">
                </div>
                <div class="col-md-12 m-t">
                    <label id="2" class="control-label">Sale AccountCode &nbsp;</label><span id="spn1" style="color:red"></span>
                    <input type="text" id="txtItemSale" class="form-control">
                    <input type="hidden" id="hdnItemSale" class="form-control">
                </div>
                <div class="col-md-12 m-t">
                    <label id="2" class="control-label">Pref VendorCode &nbsp;</label><span id="spn1" style="color:red"></span>
                    <input type="text" id="txtItemPref" class="form-control">
                    <input type="hidden" id="hdnItemPref" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12" style="padding-top:25px; text-align:right">
                    <button type="button" id="btnItemSave" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                    <button type="button" id="btnRefresh" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                </div>
            </div>
        </div>
    </div>
</form>

