﻿
@{
    ViewBag.Title = "LedgerMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            @*<div class="ibox-content">*@
                <div class="row">
                    <div class="panel panel-info">
                        <div style="background-color:#acdef6; height:43px; padding-top:6px">
                            <div style="float:left; padding-left:5px; padding-top:5px"><label>General Ledger</label></div>
                            <div style="float:right; padding-right:5px">
                                @*<label id="gl" class="radio-inline"><input type="radio" id="radioGL" name="optradio" checked>GL</label>
                                <label id="sl" class="radio-inline"><input type="radio" id="radioSL" name="optradio">SL</label>*@


                                <div class="radio radio-warning radio-inline">
                                    <input type="radio" id="radioGL" value="GL" name="radioInline" checked>
                                    <label id="gl" for="radioGL"> GL </label>
                                </div>
                                <div class="radio radio-warning radio-inline">
                                    <input type="radio" id="radioSL" value="SL" name="radioInline">
                                    <label id="sl" for="radioSL"> SL </label>
                                </div>

                                <div class="radio radio-danger radio-inline">
                                    <input type="radio" id="radioUV" value="I" name="radioInlinee">
                                    <label id="uv" for="radioUV"> Include UnPaid Voucher </label>
                                </div>

                                @*<a id="btnPrintLedger" class="btn btn-primary">Pdf</a>*@
                                <button type="button" id="btnPrintLedger" class="btn btn-success hidden-print"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> PDF</button>
                            <button type="button" id="btnExcelLedger" class="btn btn-success hidden-print"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Excel</button>
						   </div>
                        </div>


                        <input type="hidden" id="hdnAccountCode" />
                        <input type="hidden" id="hdnAccountDesc" />
                        <input type="hidden" id="hdnAccountHidden" />
						<input type="hidden" id="hdnGroupLedger" />


                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-3">
                                        <label class="control-label" style="font-style: italic">General Ledger From</label><span id="spn2" style="color: red">&nbsp;*</span>
                                        <input type="text" id="txtFromDate" name="txtFromDate" class="form-control txt_2" placeholder="DD/MM/YYYY" readonly />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label" style="font-style: italic">To Date</label><span id="spn3" style="color: red">&nbsp;*</span>
                                        <input type="text" id="txtToDate" name="txtToDate" class="form-control" placeholder="DD/MM/YYYY" readonly>
                                    </div>
                                    <div class="col-md-6" id="pnl_SubLedger" style="display:none">
                                        <label class="control-label" style="font-style: italic">Ledger</label><span id="spn3" style="color: red">&nbsp;*</span>
                                        <input type="text" id="txtSubLedger" name="txtSubLedger" class="form-control" placeholder="Ledger">
                                        <input type="hidden" id="hdnSubLedger" name="hdnSubLedger" class="form-control" />
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="padding-top:5px">
                                <div class="col-md-12">
                                    <input type="text" id="txtSearchSubLedger" name="txtSearchSubLedger" class="form-control" placeholder="Ledger" />
                                    <input type="hidden" id="hdnSearchSubLedger" name="txtSearchSubLedger" class="form-control" />
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12" style="text-align:right; padding-top:5px">

                                    <div class="form-group" style="padding-top:5px">
                                        <label class="control-label" style="font-style: italic; float:left; padding-top:5px; color:#f95c41" id="lblHeader"></label>
                                        <div id="myDiv">
                                            <table id="myTable" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                                <thead></thead>
                                                <tbody></tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>

                                        <div id="myDivOpt" style="display:none;">
                                            <table id="myTable" class="table table-hover table-bordered" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%;  margin-top:30px">
                                                <thead>
                                                    <tr>
                                                        <td style="width:50%; font-weight:bold; font-family:Verdana">Cash Denomination</td>
                                                        <td style="width:50%; text-align:right; font-weight:bold; font-family:Verdana">Physically Checked and Verified</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 10px">2000 x </td>

                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">500 x </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">200 x </td>
                                                        <td style="width:30%; text-align:right; font-weight:bold; font-family:Verdana">DGM (Finance)</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">100 x </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">50 x </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">20 x </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">10 x </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">Coins </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            @*</div>*@
        </div>
    </div>
</div>

<style>
    .My_Header{
       border: 1px solid; text-align:center;
       
    }
</style>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script src="~/Scripts/AccJs/LedgerMaster.js"></script>


