﻿

@{
    ViewBag.Title = "Bank_Payment_Updation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AccJs/PF_InvestmentMaster.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label> PF Investment Master </label>
                    </div>
                    <span class="clsVariables" data-add="" ></span>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">Investment Name</label><span id="spn2" style="color: red">&nbsp;*</span>
                                <input type="text" id="txtFromDate" name="txtFromDate" class="form-control"  autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Type</label><span id="spn3" style="color: red">&nbsp;*</span>
                                <select class="form-control">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Investment No.</label><span id="spn3" style="color: red">&nbsp;</span>
                                <input type="text" id="txtVoucherNos" name="txtVoucherNo" class="form-control allownumericwithoutdecimal" autocomplete="off">
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Investment Date </label><span id="spn3" style="color: red">&nbsp;</span>
                                <input type="text" id="txtInvestmentDate" class="form-control txt_2" placeholder="DD/MM/YYYY" autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Maturity Date</label><span id="spn3" style="color: red">&nbsp;</span>
                                <input type="text" id="txtMaturityDate" class="form-control txt_2" placeholder="DD/MM/YYYY" autocomplete="off" />
                            </div>

                        </div>

                        <div class="row m-t">
                            <div class="col-md-2">
                                <label class="control-label">Face Value</label><span id="spn2" style="color: red">&nbsp;*</span>
                                <input type="text" id="txtFromDate" name="txtFromDate" class="form-control allownumericwithdecimal"  autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Maturity Value</label><span id="spn3" style="color: red">&nbsp;*</span>
                                <input type="text" id="txtToDate" name="txtToDate" class="form-control allownumericwithdecimal"  autocomplete="off">
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Interest Rate</label><span id="spn3" style="color: red">&nbsp;</span>
                                <input type="text" id="txtVdoucherNo" name="txtVoucherNo" class="form-control allownumericwithdecimal" autocomplete="off">
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Rating</label><span id="spn3" style="color: red">&nbsp;</span>
                                <input type="text" id="txtVaoucherNo" name="txtVoucherNo" class="form-control allownumericwithdecimal" autocomplete="off">
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Release Date</label><span id="spn3" style="color: red">&nbsp;</span>
                                <input type="text" id="txtReleaseDate" class="form-control txt_2" placeholder="DD/MM/YYYY" autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Interest Pay Mode</label><span id="spn2" style="color: red">&nbsp;*</span>
                                <select class="form-control">
                                    <option value="">Select</option>
                                </select>
                            </div>

                        </div>

                        <div class="row m-t">
                           
                            <div class="col-md-2">
                                <label class="control-label">Premium</label><span id="spn3" style="color: red">&nbsp;*</span>
                                <input type="text" id="txtToDate" name="txtToDate" class="form-control"  autocomplete="off">
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Accured Interest Paid</label><span id="spn3" style="color: red">&nbsp;</span>
                                <input type="text" id="txtVotucherNo" name="txtVoucherNo" class="form-control allownumericwithdecimal" autocomplete="off">
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Cheque Details</label><span id="spn3" style="color: red">&nbsp;</span>
                                <input type="text" id="txtVouchfgerNo" name="txtVoucherNo" class="form-control" autocomplete="off">
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Remarks</label><span id="spn3" style="color: red">&nbsp;</span>
                                <input type="text" id="txtVourcherNo" name="txtVoucherNo" class="form-control" autocomplete="off">
                            </div>

                        </div>

                        <div class="row m-t">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table id="tbl" class="table table-hover table-bordered tblInst">
                                        <thead>
                                            <tr>
                                                <th>Interest Due Date</th>
                                                <th>Interest Receive Date</th>
                                                <th>Interest Amt.</th>
                                                <th>Bank Code</th>
                                                <th>Cheque No.</th>
                                                <th>Voucher No.</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="test_0">
                                                <td><input type="text" id="txtDueDate" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off" /></td>
                                                <td><input type="text" id="txtReceiveDate" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off" /></td>
                                                <td><input type="text" id="txtIntAmt" class="form-control allownumericwithdecimal" autocomplete="off" /></td>
                                                <td><input type="text" id="txtBankCode" class="form-control" autocomplete="off" /></td>
                                                <td><input type="text" id="txtChequeNo" class="form-control" autocomplete="off" /></td>
                                                <td><input type="text" id="txtVoucherNo" class="form-control" autocomplete="off" /></td>
                                                <td style="text-align:center; width:10%">
                                                    <button type="button" id="btnAdd" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Add</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top:10px; float:right">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="button" id="btnsubsubmit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                    <button type="button" id="btnRefresh" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        width: 350px;
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }
</style>


