﻿@using wbEcsc.ViewModels.Accounts;
@using wbEcsc.App_Codes.BLL.Account;
@using wbEcsc.App_Codes;



@{
    ViewBag.Title = "Voucher_Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AccJs/Voucher.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Voucher Entry</label>
                    </div>

                    <input type="hidden" id="hdnPopulateJSON" value="@ViewBag.PopulateJSON" />
                    <input type="hidden" id="hdnGlobal_VoucherID" value="@ViewBag.hdnGlobal_VoucherID" />

                    <input type="hidden" id="hdnVchDtlID" value="" />
                    <input type="hidden" id="hdnAccCode" value="" />
                    <input type="hidden" id="hdnSrlNo" value="" />


                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label" style="font-style: italic">Payment Vouncher Type </label><span id="spn1" style="color: red">*</span>
                                    <select id="ddlVchType" class="form-control">
                                        <option value="">--Select--</option>
                                        @foreach (var vchtype in (new VoucherMaster_BLL().Get_Acc_VchType()))
                                        {
                                            <option value="@vchtype.VoucherTypeID">@vchtype.VoucherDescription</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label" style="font-style: italic">Voucher Date</label>&nbsp;<span id="spn2" style="color: red">*</span> <span style="font-style:italic; font-weight:bold; font-size:10px">  (Not less than <span class="clsOpeningDate"></span>)</span>
                                    <input type="text" id="txtVoucherDate" class="clsFinYearDate form-control txt_2" autocomplete="off"   placeholder="DD/MM/YYYY" />
                               
							   </div>
                                <div class="col-md-3">
                                    <label class="control-label" style="font-style: italic">Voucher No </label><span id="spn3" style="color: red"></span>
                                    <input type="text" id="txtVoucherNo" class="form-control">
                                    <input type="hidden" ID="hdnVoucherNo" />
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table id="tbl_1" class="Grid">
                                        <thead>
                                            <tr>
                                                <th style="border: 1px solid; text-align:center; width:4%"></th>
                                                <th style="border: 1px solid; text-align:center; width:10%;">DR_CR</th>
                                                <th id="grd_1" style="border: 1px solid; text-align:center; width:10%">Code</th>
                                                <th style="border: 1px solid; text-align:center;">Description</th>
                                                <th style="border: 1px solid; text-align:center; width:12%">Debit (Dr.)</th>
                                                <th style="border: 1px solid; text-align:center; width:12%">Credit (Cr.)</th>
                                                <th style="border: 1px solid; text-align:center; width:4%"></th>
                                                @*<th style="border: 1px solid; text-align:center; width:4%"></th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="test_0">
                                                <td></td>
                                                <td>
                                                    <select ID="ddlDRCR" style="width:100%" class="form-control">
                                                        <option Value="" selected>Select</option>
                                                        <option Value="D" selected>DR</option>
                                                        <option Value="C">CR</option>
                                                    </select>
                                                </td>
                                                <td id="grd_2">
                                                    <input type="hidden" ID="lblGlID" Value="" />
                                                    <input type="hidden" ID="lblGlType" Value="" />
                                                    <input type="hidden" ID="lblSlID" Value="" />
                                                    <input type="hidden" ID="lblSubID" Value="" />
                                                    <input type="hidden" ID="lblVoucherDetailID" Value="" />
                                                    <input type="text" ID="lblAccOldSlCode" disabled Text="" class="form-control" />
                                                    <input type="text" ID="lblOldSubCode" disabled Text="" style="display:none;" />
                                                </td>
                                                <td>
                                                    <input type="text" ID="lblAccDesc_0" Text="" style="width:100%" class="form-control" />
                                                    <input type="hidden" ID="hdnlblAccCode" />
                                                    <div id="AutoComplete"></div>
                                                    <input type="text" ID="lblSubAccDesc_0" Text="" style="display:none;" />
                                                </td>
                                                <td>
                                                    <input type="text" id="txtDebit_0" style="width: 100%; text-align: right;" onkeypress="return isNumberKey(event)" value="" class="form-control" />
                                                </td>
                                                <td>
                                                    <input id="txtCredit_0" style="width: 100%; text-align: right;" onkeypress="return isNumberKey(event)" type="text" value="" class="form-control" />
                                                </td>
                                                <td></td>
                                                @*<td></td>*@
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td style="text-align:center"><label ID="lblNarration" class="control-label">Narration</label></td>
                                                <td id="grd_3" colspan="2"><input type="text" ID="txtNarrationval" class="form-control spcl" style="width:100%" /></td>
                                                <td><input id="txtTotalDebit" style="width: 125px; text-align: right; color: red; font-weight: bold; width:100%" class="form-control" type="text" value="0" disabled /></td>
                                                <td><input id="txtTotalCredit" style="width: 125px; text-align: right; color: red; font-weight: bold; width:100%" class="form-control" type="text" value="0" disabled /></td>
                                                <td></td>
                                                @*<td></td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table id="tbl_2" class="Grid" border="0" style="background-color:bisque">
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-11" style="padding-top:25px; text-align:right">
                                <button type="button" id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                <button type="button" id="btnPrint" class="btn btn-success hidden-print"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                                <button type="button" id="btnRefresh" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dialog-Instrument" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:90%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Instrument Details..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true"></button>  @*&times; USE THIS FOR CROSS SYMBOL TO CLOSE*@
            </div>

            <input type="hidden" ID="lblInstBillID" Value="" />

            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table id="tblInst" class="Grid tblInst">
                                <thead>
                                    <tr>
                                        <th style="border: 1px solid; text-align:center; width:4%"></th>
                                        <th style="border: 1px solid; text-align:center; width:10%">Type</th>
                                        <th style="border: 1px solid; text-align:center; width:12%">Number</th>
                                        <th style="border: 1px solid; text-align:center; width:9%">Date</th>
                                        <th style="border: 1px solid; text-align:center; width:8%">Amount</th>
                                        <th style="border: 1px solid; text-align:center; width:20%">Drawee Bank/Branch/InFavour of</th>
                                        <th style="border: 1px solid; text-align:center; width:2%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td style="border: solid 1px black;">
                                            <select ID="ddlInstType" class="form-control" autofocus>
                                                <option Value="" selected>Select</option>
                                                @foreach (var lstInstrment in new VoucherMaster_BLL().Get_Instrument())
                                                {
                                                    <option value="@lstInstrment.InstrumentTypeID">@lstInstrment.Instrument</option>
                                                }
                                            </select>
                                        </td>
                                        <td style="border: solid 1px black;">
                                            <input type="text" ID="txtInstNo" Style="text-transform: uppercase;" class="form-control" />
                                        </td>
                                        <td style="border: solid 1px black;">
                                            <input type="text" ID="txtInstDate" class="form-control" />
                                        </td>
                                        <td style="border: solid 1px black;">
                                            <input type="text" ID="txtInstAmount" Style="text-align: right;" class="form-control allownumericwithdecimal" />
                                        </td>
                                        <td style="border: solid 1px black;">
                                            <input type="text" ID="txtDBankBR" Style="text-transform: uppercase;" class="form-control" />
                                        </td>
                                        <td style="border: solid 1px black; text-align:center">
                                            <input type="button" ID="btnInstAdd" value="Add" class="btn btn-primary" />
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <input type="button" ID="btnInstOK" value="OK" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dialog-confirms" class="content-overlay" style="display: none;">
    <div class="loadwrapper">
        <div class="ajax-loader-outers">
            <div class="dialog-Header " style="height: 45px; width: 100%; background-color: #8ac7c7; font-family:Verdana; text-align:right">
            </div>
            <div style="width:100%; " class="msg-body">
                <label id="lblMSG" class="control-label" style="font-family:Verdana;"></label>
            </div>
            <div style="height: 30px; width: 100%; text-align:right; padding-right:10px; padding-top:2px; border-top:solid 1px #e0d8d8">
                <input type="button" ID="btnConfYes" value="Yes" class="btn btn-success" />
                <input type="button" ID="btnConfNo" value="No" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

<div id="dialog-Narration" class="content-overlay" style="display: none;">
    <div class="loadwrapper">
        <div class="ajax-loader-outers">
            <div class="dialog-Header " style="height: 45px; width: 100%; background-color: #8ac7c7; font-family:Verdana; text-align:right">
            </div>
            <div style="width:100%; " class="msg-body">
                <textarea type="text" id="txtPopNarration" class="form-control" style="height:115px; width:540px; text-transform:uppercase;" placeholder="Enter Narration.."></textarea>
            </div>
            <div style="height: 30px; width: 100%; text-align:right; padding-right:10px; padding-top:2px; border-top:solid 1px #e0d8d8">
                <input type="button" ID="btnNarrOK" value="OK" class="btn btn-success" />
                <input type="button" ID="btnNarrCancel" value="Cancel" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

<div id="dialog-Instconfirms" class="content-overlay" style="display: none;">
    <div class="loadwrapper">
        <div class="ajax-loader-outers">
            <div class="dialog-Header " style="height: 45px; width: 100%; background-color: #8ac7c7; font-family:Verdana; text-align:right">
            </div>
            <div style="width:100%; " class="msg-body">
                <label id="lblInstMSG" class="control-label" style="font-family:Verdana;"></label>
            </div>
            <div style="height: 30px; width: 100%; text-align:right; padding-right:10px; padding-top:2px; border-top:solid 1px #e0d8d8">
                <input type="button" ID="btnInstConfYes" value="Yes" class="btn btn-success" />
                <input type="button" ID="btnInstConfNo" value="No" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-SubLedger" role="dialog" style="height:100%; " data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:90%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">SubLedger Details..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal"></button>  @*&times;*@
            </div>

            <input type="hidden" ID="lblSLBillID" Value="" />

            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table id="tblSL" class="Grid tblSL">
                                <thead>
                                    <tr>
                                        <th style="border: 1px solid; text-align:center; width:4%"></th>
                                        <th style="border: 1px solid; text-align:center; width:15%" class="isSubItem">SubLedger</th>
                                        <th style="border: 1px solid; text-align:center; width:6%" class="isSubItemType">Type</th>
                                        <th style="border: 1px solid; text-align:center; width:10%">Number</th>
                                        <th style="border: 1px solid; text-align:center; width:5%" class="m_itemdetail">Qty</th>
                                        <th style="border: 1px solid; text-align:center; width:8%" class="m_itemdetail">Rate</th>
                                        <th style="border: 1px solid; text-align:center; width:10%">Amount</th>
                                        <th style="border: 1px solid; text-align:center; width:2%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td style="border: solid 1px black;">
                                            <input type="text" ID="txtSubLedger" class="form-control" autofocus />
                                            <input type="hidden" ID="hdnSubLedgerCode" class="form-control" />
                                        </td>
                                        <td style="border: solid 1px black;" class="isSubItemType">
                                            <select ID="ddlSubLedgerType" class="form-control">
                                                <option Value="" selected>--Select--</option>
                                                @foreach (var lstSubLedType in new VoucherMaster_BLL().Get_SubLedgerType())
                                                {
                                                    if (lstSubLedType.SubLedgerTypeID == "O")
                                                    {
                                                        <option selected value="@lstSubLedType.SubLedgerTypeID">@lstSubLedType.SubLedgerType</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@lstSubLedType.SubLedgerTypeID">@lstSubLedType.SubLedgerType</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td style="border: solid 1px black;">
                                            <input type="text" ID="txtSubLedNo" Style="text-transform: uppercase;" class="form-control" />
                                        </td>
                                        <td style="border: solid 1px black;" class="m_itemdetail">
                                            <input type="text" ID="txtItemQty" Style="text-transform:uppercase; text-align:right" class="form-control allownumericwithdecimal" onkeyup="Cal_Amount()" />
                                        </td>
                                        <td style="border: solid 1px black;" class="m_itemdetail">
                                            <input type="text" ID="txtItemRate" Style="text-transform:uppercase; text-align:right" class="form-control allownumericwithdecimal" onkeyup="Cal_Amount()" />
                                        </td>
                                        <td style="border: solid 1px black;">
                                            <input type="text" ID="txtSubLedAmount" Style="text-transform:uppercase; text-align:right" class="form-control allownumericwithdecimal" />
                                        </td>
                                        <td style="border: solid 1px black; text-align:center">
                                            <input type="button" ID="btnSubLedgerAdd" value="Add" class="btn btn-primary" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="button" ID="btnSubLedgerOK" value="OK" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dialog-SLconfirms" class="content-overlay" style="display: none;">
    <div class="loadwrapper">
        <div class="ajax-loader-outers">
            <div class="dialog-Header " style="height: 45px; width: 100%; background-color: #8ac7c7; font-family:Verdana; text-align:right">
            </div>
            <div style="width:100%; " class="msg-body">
                <label id="lblSLMSG" class="control-label" style="font-family:Verdana;"></label>
            </div>
            <div style="height: 30px; width: 100%; text-align:right; padding-right:10px; padding-top:2px; border-top:solid 1px #e0d8d8">
                <input type="button" ID="btnSLConfYes" value="Yes" class="btn btn-success" />
                <input type="button" ID="btnSLConfNo" value="No" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-AdjustNumber" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:50%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Adjustment Number Details..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:500px; background-color:#d6eaea !important; overflow-y:scroll;">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table id="tblAdjustmentNo" class="Grid">
                                <thead><tr><th style="border: 1px solid; text-align:center;">Number</th><th style="border: 1px solid; text-align:center;">Amount</th></tr></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Populate Account Debt*@
<div id="dialog-AccDebt" class="content-overlay" style="display: none;">
    <div class="loadwrapper">
        <div class="ajax-loader-outers" style="height:155px !important">
            <div class="dialog-Header " style="height: 35px; width: 100%; background-color: #8ac7c7; font-family:Verdana; text-align:right">
            </div>
            <div style="width:100%; height:80px !important" class="msg-body">
                <label id="lblAccDebtMSG" class="control-label" style="font-family:Verdana;"></label>
            </div>
            <div style="height: 30px; width: 100%; text-align:right; padding-right:10px; padding-top:2px; border-top:solid 1px #e0d8d8">
                <input type="button" ID="btnAccDebtConfYes" value="Yes" class="btn btn-success" />
                <input type="button" ID="btnAccDebtConfNo" value="No" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

<div id="dialog-ConfAccDebt" class="content-overlay" style="display: none;">
    <div class="loadwrapper">
        <div class="ajax-loader-outers" style="height:155px !important">
            <div class="dialog-Header " style="height: 35px; width: 100%; background-color: #8ac7c7; font-family:Verdana; text-align:right">
            </div>
            <div style="width:100%; height:80px !important" class="msg-body">
                <label id="lblConfAccDebtMSG" class="control-label" style="font-family:Verdana;"></label>
            </div>
            <div style="height: 30px; width: 100%; text-align:right; padding-right:10px; padding-top:2px; border-top:solid 1px #e0d8d8">
                <input type="button" ID="btnConfAccDebtConfYes" value="Yes" class="btn btn-success" />
                <input type="button" ID="btnConfAccDebtConfNo" value="No" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-AccDeptCostCenter" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Account Department / Cost Center..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group" style="padding-left:5px; padding-right:5px">

                        <table id="tbl_deptCost" class="Grid tbl_deptCost">
                            <thead>
                                <tr>
                                    <th style="border: 1px solid; text-align:center; width:13%">Account Department</th>
                                    <th style="border: 1px solid; text-align:center; width:13%;">Cost Center</th>
                                    <th style="border: 1px solid; text-align:center; width:3%;">Amount</th>
                                    <th style="border: 1px solid; text-align:center; width:1%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input id="txtAccDept" placeholder="Acc Dept.." class="form-control" autofocus />
                                        <input id="hdnAccDept" type="hidden" />
                                    </td>
                                    <td>
                                        <input id="txtCostCenter" placeholder="Cost Center.." class="form-control" />
                                        <input id="hdnCostCenter" type="hidden" />
                                    </td>
                                    <td>
                                        <input id="txtDeptCodeAmt" class="form-control" />
                                    </td>
                                    <td style="text-align:center">
                                        <button type="button" id="btnAccDeptCostCenterOK" class="btn btn-primary">Add</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="row" style="padding-left:5px">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="button" id="btnAccDeptCostCenter" class="btn btn-primary">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .content-overlay {
        background-image: url('/Content/Images/overlay.png');
        height: 100%;
        left: 0;
        position: fixed;
        _position: absolute;
        _height: 1020px;
        top: 0;
        width: 100%;
        z-index: 2051 !important;
        display: none;
    }

    .loadwrapper {
        width: 960px;
        margin: 0 auto;
        position: relative;
    }

    .ajax-loader-outers {
        background: #f3f3f3; /*url(../images/ajax-loader_new.gif) no-repeat 5px 5px*/;
        margin: 100px auto 0 auto;
        width: 560px;
        border: 2px solid #d2d0d0;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        padding: 0px 0 0px 0px;
        font-size: 13px;
        color: #000;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        height: 215px;
    }

    .dialog-Header {
        border: 2px solid #e7e7e7;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .msg-body {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 130px;
    }
</style>
<style>
    #AutoComplete {
        display: block;
        position: relative;
    }
   .ui-autocomplete
        {
            height: 200px;
            overflow-y: scroll;
            /*overflow-x: hidden;*/
            /*border: 1px solid #cbc7c7;*/
            font-size: 13px;
            font-weight: normal;
            color: #242424;
            background: #fff;
            -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
            -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
            box-shadow: inset 0.9px 1px 3px #e4e4e4;
            width: 350px;
            /*height:30px;*/
            padding: 5px;
            font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
            margin: 3px 0;
            z-index:10000 !important;
        } 
   .isAccountHead{
       display:none;
   }      
</style>



