﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/AppJs/AdmistrativeLogin.js"></script>
</head>

<body class="gray-bg">
    <div style="text-align:center">
        <h1 class="logo-name">ECSC</h1>
    </div>
    <div class="middle-box  loginscreen  animated fadeInDown">
        <div>
            <form class="m-t" role="form"  id="frm_AdministrativeLogin">
                        <div class="form-group">
                            <input type="text" id="txtUserName" name="txtUserName" class="form-control txtUserName" placeholder="Username" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" id="txtPassword" name="txtPassword" class="form-control txtPassword" placeholder="Password" required="">
                        </div>
                        <button type="button" class="btn btn-primary block full-width m-b btn-administrative-login">Login</button>

                       
                      
                        <div class="text-right" style="padding-top:5px">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 text-right">
                                    <span class="spn_frm_msg" id="spn_frm_msg"></span>
                                </div>
                            </div>
                        </div>
                    </form>
        </div>
    </div>

</body>

</html>


