﻿@using wbEcsc.App_Codes;
@using wbEcsc.Models.Account;
@using wbEcsc.Models.Application;
@using wbEcsc.App_Codes.BLL;
@using wbEcsc.Models.Account.Logins;

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />


    @if (!SessionContext.IsAuthenticated)
    {
        Response.Redirect("/LoginManager/LogOut", true);
        return;
    }
    <link href="~/Content/myloader.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/app/Gridstyle.css" rel="stylesheet" />
    <link href="~/Content/plugins/dataTables/datatables.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/overlay")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
 @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")

   
</head>
<body>
    <!--Overlay start for loding ajax request-->
    <div id="overlay_Common">
        <div class="loading">Loading&#8230;</div>
    </div>
   
    <!-- Wrapper-->
    <div id="wrapper" >

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg mypage">

              @*<div class="sk-spinner sk-spinner-cube-grid">
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
            </div>*@

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @*@Html.Partial("_Footer")*@
            
        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->


   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/metsiMenu")
    @*@Scripts.Render("~/plugins/pace")*@
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/bundles/GlobalAppJs")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/sweetAlert")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/plugins/dataTables/datatables.min.js"></script>

   
  
   <script>
        toastr.options = {
            "closeButton": true,
            "debug": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
    
   
   
</body>
</html>
