﻿@using wbEcsc.App_Codes;
@using wbEcsc.Models.Account;
@using wbEcsc.Models.Application;
@using wbEcsc.App_Codes.BLL;
@using wbEcsc.Models.Account.Logins;

@{
    var a = ""; var b = "";
    var SalMonth = ""; var SalFinYear = ""; var AccFinYear = ""; var SalMonthID = ""; var UserName = "";
 var ssData = new SessionData();
    if (SessionContext.IsAuthenticated)
    {
       
        ssData.Sectors = new EmployeeMaster().Get_Sector((SessionContext.CurrentUser as IInternalUser).UserID);
        SessionContext.SessionData.Sectors = ssData.Sectors;
        UserName = (SessionContext.CurrentUser as IInternalUser).FirstName + " " + (SessionContext.CurrentUser as IInternalUser).LastName;
        if (ssData.Sectors.Count == 1)
        {
            foreach (var sector in ssData.Sectors)
            {
                ssData.CurrSector = sector.SectorID;
            }
        }

        //POPULATE LOGO, HEADER
        Logo lObj = new Logo();
        Logo_MD modelObj = lObj.GetAppsInfo();
        a = modelObj.LogoPath;
        b = modelObj.WebSiteHeader_1;

        //POPULATE SALMONTH, SALFINYEAR, ACCFINYEAR
        SessionContext.InitSessionData();
        SessionData obj_salfinacc = SessionContext.SessionData;
        SalMonthID = obj_salfinacc.SalMonthID.ToString();
        SalMonth = obj_salfinacc.SalMonth;
        SalFinYear = obj_salfinacc.CurSalFinYear;
        AccFinYear = obj_salfinacc.CurFinYear;
    }
}

<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li style="display:none">
                <span style="height:10px; width:120px; float:right">
                    <select id="ddlSector" class="form-control form-control-no-border">
                        <option value="">--Sector --</option>
                        @if (SessionContext.IsAuthenticated)
                        {
                            if (SessionContext.SessionData.Sectors.Count == 1)
                            {
                                foreach (var sector in SessionContext.SessionData.Sectors)
                                {
                                    <option selected value="@sector.SectorID">@sector.SectorName</option>
                                }
                            }
                            else
                            {
                                foreach (var sector in SessionContext.SessionData.Sectors)
                                {
                                    <option value="@sector.SectorID">@sector.SectorName</option>
                                }
                            }
                        }
                    </select>
                </span>
            </li>
            <li style="display:none">
                <label for="firstName" class="control-label" style="color:black; font-style:italic;  margin-left:5px">Account FinYear</label>
                <input type="text" id="txtAccFinYear" placeholder="Acc FinYear" value="@AccFinYear" class="form-control">
            </li>
            <li>
                <span class="lblUserName" style="color:#61798e"><i class="fa fa-user-circle-o" style="font-size:18px"></i>   Welcome : @UserName    </span>
            </li>
            <li>
                <span class="lblUserName" style="color:#61798e">
                    <i class="fa fa-location-arrow" style="font-size:18px"></i>   Sector :
                    <select>
                        @if (SessionContext.IsAuthenticated)
                        {
                            if (SessionContext.SessionData.Sectors.Count == 1)
                            {
                                foreach (var sector in SessionContext.SessionData.Sectors)
                                {
                                    <option selected value="@sector.SectorID">@sector.SectorName</option>
                                }
                            }
                            else
                            {
                                foreach (var sector in SessionContext.SessionData.Sectors)
                                {
                                    <option value="@sector.SectorID">@sector.SectorName</option>
                                }
                            }
                        }
                    </select>
                </span>
            </li>
            <li>
                <span class="lblUserName" style="color:#61798e">
                    <select id="ddlGlobalFinYear">
                        @if (SessionContext.IsAuthenticated)
                        {
                            var lst = new EmployeeMaster().Get_SectorWiseFinYear(ssData.CurrSector);
                            if (lst.Count > 0)
                            {
                                foreach (var lt in lst)
                                {
                                     <option value="@lt.FinYrStatus" >@lt.FinYr</option>
                                }
                            }
                            else
                            {
                                <option value="" selected>FinYear</option>
                            }
                        }
                    </select>
                </span>
            </li>
            <li>
                <a href="~/LoginManager/LogOut" style="color:#0795f3">
                    <i class="fa fa-sign-out" style="font-size:18px"></i> Log out
                </a>
            </li>

        </ul>
    </nav>
</div>